body{
	font: 100% Poppins, San Serif;
	margin: 20px;
}

.container {
	min-width: 1903px;
	min-height: 703px;
	position: relative;
}

#cover {
	background-image: url(../images/cute-aesthetic/coffee);
	background-color: gray;
}

#menulist {
	padding: 0px;
	position: relative;
	overflow: auto;
	background-color: black;
} 

#menulist li {
	float: left;
	list-style-type: none;
	margin: 4px;
	padding: 2px;
	text-align: center;
	cursor: pointer;
}

#menulist li a{
	color: white;
	text-decoration: none;
}

#menulist li:hover {
	background-color: blue;
}

h1, h2, h3 {
	color:black;
}

.button1 {
	background-color: white;
	color: #c4996c;
}

.button1:hover {
	background-color: #c4996c;
	color: white;
}