body{
	font: 100% Poppins;
	margin: 20px;
}

#menulist {
	padding: 0px;
	position: relative;
	overflow: auto;
	background-color: black;
} 

#menulist li {
	float: left;
	list-style-type: none;
	margin: 4px;
	padding: 2px;
	text-align: center;
	cursor: pointer;
}

#menulist li a{
	color: white;
	text-decoration: none;
}